$carousel_height: 610px;

.carousel {
  height: $carousel_height;
  display: flex;

  background: url("../../assets/coffee-slider.jpg") round fixed;
  background-size: auto;
  .slider-wrapper {
    width: 60%;
    overflow: hidden;
    li {
      height: calc($carousel_height/2);
      img {
        height: 100%;
        object-fit: scale-down;
      }
    }
  }
  .slide-selected {
    height: 100%;
    background-color: red;
  }
}
.carousel-showcase-photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-loading {
  display: flex;
  height: $carousel_height;
  width: 100vw;
  background: url("../../assets/coffee-slider.jpg") round fixed;
  align-items: center;
  justify-content: center;
}
