.carousel {
  height: 400px;
  .slider-wrapper{
    li{
        height: 400px;
        img{
            height: 100%;
            width: 100%;
            object-fit:scale-down;
        }
    }
  }
}
