$carousel_height: 610px;

.carousel {
  height: $carousel_height;
  display: flex;

  background: url("../../assets/coffee-slider.jpg") round fixed;
  background-size: auto;
  .slider-wrapper {
    width: 60%;
    overflow: hidden;
    li {
      height: calc($carousel_height/2);
      img {
        height: 100%;
        object-fit: scale-down;
      }
    }
  }
}
