@import "../Theme.scss";

footer {
  padding: 50px;
  section {
    margin: 20px;
    .highlight {
      color: $primary;
    }
  }
  .info {
    display: flex;
    justify-content: center;
    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      background-color: $primary;
      border-radius: 50px;
      padding: 10px;
      margin: 30px 10px;
      color: white;
    }
  }
  .copyright {
    text-align: center;
    margin-top: 50px;
    a {
      text-decoration: none;
      color: $primary;
    }
  }
}
