@import "../Theme.scss";
header {
  background: url("../../assets/coffee-slider.jpg") round no-repeat fixed;
  animation: breathe 4s infinite;
  padding: 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  .header_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .h_links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a,
    .account-btn {
      text-decoration: none;
      margin: 0px 10px;
      color: white;
    }
    .account-btn {
      display: flex;
      cursor: pointer;
    }
  }
  z-index: 10;
  .coffee {
    color: $primary;
  }
  .cartBadge {
    span {
      background-color: $primary;
    }
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 1);
  }
  50% {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 0.6);
  }
  100% {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 1);
  }
}

#navMenu > div > ul {
  background: url("../../assets/coffee-slider.jpg");
  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  li {
    color: white;
  }
  svg {
    margin-right: 10px;
  }
}

.header_section {
  .cartBtn {
    margin: 0px 10px;
    cursor: pointer;
  }
}
