@import "../Theme.scss";
header {
  background: url("../../assets/coffee-slider.jpg") round no-repeat fixed;
  animation: breathe 4s infinite;
  padding: 20px;
  color: white;
  position: sticky;
  top: 0;
  left: 0;
  .header_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .h_links {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      text-decoration: none;
      margin: 0px 10px;
      color: white;
    }
    a:last-child {
      display: flex;
    }
  }
  z-index: 10;
  .coffee {
    color: $primary;
  }
}

@keyframes breathe {
  0% {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 1);
  }
  50% {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 0.7);
  }
  100% {
    box-shadow: 0px 1px 15px rgb(0, 0, 0, 1);
  }
}

#navMenu > div > ul {
  background: url("../../assets/coffee-slider.jpg");
  a {
    color: white;
    text-decoration: none;
  }
}
