@import "../../Theme.scss";

.productOrder {
  display: flex;
  .imgs {
    display:flex;
    flex: 1;
    flex-direction: column;
    padding:20px;
    .mainImg{
      width:  100%;
      height: 100%;
      object-fit:cover;
    }
    .additionalImgs{
      padding:20px;
      margin-top:20px;
      height: 100px;
      .altImg{
        width: 100px;
        height: 100px;
        object-fit:scale-down;
        margin:0px 20px;
        //onhover border
        //open dialog window
        border:1px solid transparent;
      }
      .altImg:hover{
        border:1px solid gray;
      }
    }
  }
  .info {
    flex: 1;
    margin: 20px;
    .title {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-weight: 700;
      svg {
        margin-left: 20px;
      }
    }

    .rating {
      margin-bottom: 10px;
    }
    .pricing {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .price {
        color: crimson;
      }
      .amount {
        width: 80px;
        margin-right: 10px;
      }
    }
    .specifications {
      display: flex;
      flex-direction: column;

      section {
        display: flex;
        align-items: center;
        padding: 20px;
        p {
          width: 200px;
        }
      }
      .removeFields {
        color: $primary;
      }
      .grinding,
      .roasting {
        background-color: whitesmoke;
      }
    }
    .removeFields {
      cursor: pointer;
    }
  }
}
