@import "../../Theme.scss";
.checkout-container {
  height: 100vh;
  @media (max-width: 800px) {
    height: 150vh;
  }
  display: flex;
  flex-direction: column;
  padding: 20px;

  h3 {
    text-align: center;
    color: $primary;
  }
  h5 {
    color: $primary;
  }
  .name {
    div {
      width: 440px;
    }
  }
  .checkout {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 800px) {
      width: 350px;
      flex-direction: column;
      .name {
        div {
          width: 100%;
        }
      }
    }
  }
  .billing-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .order-info {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .prod-desc,
    .checkout-product-summary {
      display: flex;
      justify-content: space-between;
    }
    hr {
      border: 1px solid $primary;
      width: 100%;
    }
  }
  .address-form {
    margin-top: 20px;
  }
  .termsError {
    display: flex;
    align-self: center;
  }
  // .checkout{
  //   display: flex;
  //   @media (max-width:800px) {
  //     width: 350px;
  //     flex-direction: column;
  //   }
  // }
}

.order-confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: 0 5px 4px $primary;
  padding: 20px;
  padding-bottom: 0;
  a {
    color: $primary;
  }
  .confirmation-footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    .footer-links {
      display: flex;
      justify-content: space-around;
      svg {
        color: $primary;
        font-size: 30px;
        margin-top: 10px;
      }
    }
  }
  .support {
    display: flex;
    svg {
      margin-right: 20px;
      align-self: center;
    }
    .info {
      display: flex;
      flex-direction: column;
    }
  }

  .btns {
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
    }
    button {
      color: $primary;
      border: 1px solid $primary;
    }
  }

  .order-item-separator {
    display: flex;
    justify-content: space-between;
  }
}

.checkout-unavailable {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    max-width: 100%;
  }
}
