@import "../../Theme.scss";
.checkout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  h3 {
    text-align: center;
    color: $primary;
  }
  h5 {
    color: $primary;
  }
  .name {
    div {
      width: 440px;
    }
  }
  .checkout {
    display: flex;
  }
  .billing-info {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    padding: 20px;
  }
  .order-info {
    display: flex;
    flex-direction: column;
    padding: 20px;

    section {
      display: flex;
      justify-content: space-between;
    }
    hr {
      border: 1px solid $primary;
      width: 100%;
    }
  }
}
